body{
	background-color: #F6E1C3;
}
hr{
	background-color: white;
	border-style: none;
	height: 2px;
	width:80%;
}
img{
	height: 200px;
}
p{
	color: #A84448;
}
h3{
	color: #7A3E65;
}
a{
	color: inherit;
}

.description{
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.education{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.education td, th{
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;

}

.nav {
  background-color: #3a24f0;
  padding: 10px;
  text-align: center;
  width: 100%;
  overflow: hidden;
  margin-top: -8px;
  margin-left: -8px;
  position: sticky;
  top: 0px;
}

.nav a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin: 0px 20px;
}

.nav a:hover {
  background-color: #24aff0;
}
.nav a.active{
	background-color: white;
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.pic td{
	padding-left: 50px;
}